<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="paginationType">Select pagination type</label>
      <select name="paginationType"
              id="paginationType"
              class="form-control"
              ng-model="pagination.selectedType"
              ng-options="option for option in pagination.paginationType"
              ng-change="checkPagination(pagination.selectedType)">
      </select>
    </div>
  </div>
  <div class="col-md-4" ng-if="pagination.selectedType === 'traditional'">
    <div class="form-group">
      <label for="paginationNumber">View rows</label>
      <select name="paginationNumber"
              id="paginationNumber"
              class="form-control"
              ng-model="pagination.selectedNumber"
              ng-options="option for option in pagination.paginationNumber"
              ng-change="pagination.labels()">
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="stringFilter">Filter everything</label>
      <input type="text"
             id="stringFilter"
             placeholder="Filter everything"
             class="form-control"
             ng-model="filtersSearch">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="rangeFilter">Filter by age</label>
      <select type="text"
              id="rangeFilter"
              class="form-control"
              ng-model="filters.age.selected">
        <option value="{{option}}" ng-repeat="option in filters.age track by $index">{{option.minVal}} - {{option.maxVal}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <button class="btn btn-danger"
              ng-click="deleteAllChecked()"
              ng-disabled="!checkedItems.length">Delete all checked items</button>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th ng-click="orderByMe('id')">id</th>
      <th ng-click="orderByMe('firstName')">First Name</th>
      <th ng-click="orderByMe('lastName')">Last Name</th>
      <th ng-click="orderByMe('email')">Email</th>
      <th ng-click="orderByMe('age')">Age</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | orderBy:myOrderBy | filter:filtersSearch | rangeFilter:filters.age.selected | limitTo : pagination.selectedNumber : pagination.showFrom">
      <td>
        <input type="checkbox"
                 ng-model="user.checked"
                 ng-change="addChecked($index)">
      </td>
      <td>
        <div>{{user.id}}</div>
      </td>
      <td>
        <div ng-dblclick="user.showInput.firstName=true"
             ng-hide="user.showInput.firstName">
          {{user.firstName}}
        </div>
        <input type="text"
               ng-show="user.showInput.firstName"
               ng-blur="user.showInput.firstName=false"
               ng-model="user.firstName"
               class="form-control">
      </td>
      <td>
        <div ng-dblclick="user.showInput.lastName=true"
             ng-hide="user.showInput.lastName">
          {{user.lastName}}
        </div>
        <input type="text"
               ng-show="user.showInput.lastName"
               ng-blur="user.showInput.lastName=false"
               ng-model="user.lastName"
               class="form-control">
      </td>
      <td>
        <div ng-dblclick="user.showInput.email=true"
             ng-hide="user.showInput.email">{{user.email}}</div>
        <input type="text"
               ng-show="user.showInput.email"
               ng-blur="user.showInput.email=false"
               class="form-control"
               ng-model="user.email">
      </td>
      <td>
        <div ng-dblclick="user.showInput.age=true"
             ng-hide="user.showInput.age">{{user.age}}</div>
        <input type="text"
               ng-show="user.showInput.age"
               ng-blur="user.showInput.age=false"
               class="form-control"
               ng-model="user.age">
      </td>
      <td>
        <button class="btn btn-default"
                ng-click="openModal(user, $index, users)">Edit</button>
        <button class="btn btn-danger"
                ng-click="deleteUser($index, user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<ul class="pagination"
    ng-if="pagination.selectedType === 'traditional'">
  <li ng-repeat="page in getNumber(labels) track by $index">
    <a href="#" ng-click="setShowFrom($index)">{{$index+1}}</a>
  </li>
</ul>
<spinner spin="spinner"></spinner>

