<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="paginationType">Select pagination type</label>
      <select name="paginationType"
              id="paginationType"
              class="form-control"
              ng-model="pagination.selectedType"
              ng-options="option for option in pagination.paginationType"
              ng-change="checkPagination(pagination.selectedType)">
      </select>
    </div>
  </div>
  <div class="col-md-4" ng-if="pagination.selectedType === 'traditional'">
    <div class="form-group">
      <label for="paginationNumber">View rows</label>
      <select name="paginationNumber"
              id="paginationNumber"
              class="form-control"
              ng-model="pagination.selectedNumber"
              ng-options="option for option in pagination.paginationNumber"
              ng-change="pagination.labels()">
      </select>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><input type="text"
                 placeholder="filter by me"
                 class="form-control"
                 ng-model="filters.id"
                 ng-change="selectFilter(filters.id)">
      </th>
      <th>
        <input type="text"
               placeholder="filter by me"
               class="form-control"
               ng-model="filters.firstName"
               ng-change="selectFilter(filters.firstName)">
      </th>
      <th>
        <input type="text"
               placeholder="filter by me"
               class="form-control"
               ng-model="filters.lastName"
               ng-change="selectFilter(filters.lastName)">
      </th>
      <th>
        <input type="text"
               placeholder="filter by me"
               class="form-control"
               ng-model="filters.email"
               ng-change="selectFilter(filters.email)">
      </th>
      <th>
        <select type="text"
                placeholder="filter by me"
                class="form-control"
                ng-model="filters.age.selected">
          <option value="{{option}}" ng-repeat="option in filters.age track by $index">{{option.minVal}} - {{option.maxVal}}</option>
        </select>
      </th>
    </tr>
    <tr>
      <th ng-click="orderByMe('id')">id</th>
      <th ng-click="orderByMe('firstName')">First Name</th>
      <th ng-click="orderByMe('lastName')">Last Name</th>
      <th ng-click="orderByMe('email')">Email</th>
      <th ng-click="orderByMe('age')">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | limitTo : pagination.selectedNumber : pagination.showFrom | orderBy:myOrderBy | filter:filters.selected | rangeFilter:filters.age.selected">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
    </tr>
  </tbody>
</table>
<ul class="pagination"
    ng-if="pagination.selectedType === 'traditional'">
  <li ng-repeat="page in getNumber(labels) track by $index">
    <a href="#" ng-click="setShowFrom($index)">{{$index+1}}</a>
  </li>
</ul>
<spinner spin="spinner"></spinner>

