<div class="modal-header">
    <h3 class="modal-title" id="modal-title">You can change user!</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="receivedName">First Name</label>
                <input type="text"
                       id="receivedName"
                       class="form-control"
                       ng-model="$ctrl.userCloned.firstName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="receivedLastName">Last Name</label>
                <input type="text"
                       id="receivedLastName"
                       class="form-control"
                       ng-model="$ctrl.userCloned.lastName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="receivedEmail">Email</label>
                <input type="text"
                       id="receivedEmail"
                       class="form-control"
                       ng-model="$ctrl.userCloned.email">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="receivedAge">Age</label>
                <input type="text"
                       id="receivedAge"
                       class="form-control"
                       ng-model="$ctrl.userCloned.age">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-danger" type="button" ng-click="$ctrl.close()">Close</button>
</div>